.container {
  border: 1px solid black;
  width: 1000px;
  display: flex;
  padding: 10px;
}
.container > div {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
.container > .one {
  height: 100px;
  width: 100px;
  flex: 1 1;
}
.container > .three,
.container > .two {
  height: 50px;
  flex: 1;
}

.container2 {
  width: 1000px;
  border: 1px solid black;
  display: flex;
  padding: 10px;
}
.container2 > div {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
.container2 > .one {
  height: 100px;
  width: 100px;
  flex: 1 1 0%;
}
.container2 > .three,
.container2 > .two {
  height: 50px;
  flex: 1;
}
